/* Criando um desing system para o sistema */
/* Cores padrão do sistema são: Vermelho,Branco e Preto */
/* importação das fontes do projeto */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* criação das váriaveis para utilizaçõa */
:root {
  /* cores base do sistema  */
  --cor-fundo: #fff;
  --cor-texto-principal: #000;
  --cor-texto-inverso: #fff;
  --cor-destaque: #ff0000;
  --cor-borda: #000;
  --cor-menu: #000;

  /* outras configurações */
  --radius-padrao:10px;
  --fonte-principal:"Google Sans", sans-serif;
}

/* estilos globais e footer fixo lá em baixo sempre */
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    /* Flex nas páginas para forçar o footer pro chão */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* forçar a página a ter 100% de altura */
}

/* classe para o rodapé */
.footer-sistema{
    margin-top: auto;
    text-align: center;
    background-color: var(--cor-fundo);
    border-top: 2px solid var(--cor-borda);
}

/* configurações de cabeçalho */
/* class do cabeçalho geral */
.header-sistema{
    background-color: var(--cor-menu);
    color: var(--cor-texto-inverso);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--cor-destaque);
}

/* texto do cabeçalho */
.header-sistema h2{
    margin: 0;
    letter-spacing: 2px;
}

/*  apenas o menu */
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* caixa principal do main */
/* estilo apenas para a página de login */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

/* estilo para as demais páginas */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}